---

- name: "Server Configuration" 
  hosts: web
  user: ec2-user
  gather_facts: false
  vars:
    - ansible_python_interpreter: /usr/bin/python3
    - ansible_host_key_checking: false
    - ansible_stdout_callback: yaml
 
  pre_tasks: 

    - name: "install python for Ansible."
      become: true
      raw: test -a /usr/bin/python3 || (apt -y update && apt install -y python3)

    - name: Stat path
      stat:
        path: ~/Udacity-Capstone
      register: udaCap

    - name: Git clonse
      raw: git clone https://github.com/rahairston/udacity-capstone.git
      when: not udaCap.stat.exists

    - name: Git checkout
      raw: cd Udacity-Capstone && git pull
      when: udaCap.stat.exists

  roles:
    - configure-server