version: 2.1

commands:
  destroy-environment:
    description: Destroy back-end and front-end cloudformation stacks given a workflow ID.
    parameters:
      # Add parameter here   
    steps:
      - run:
          name: Destroy environments
          when: on_fail
          command: |
            aws cloudformation delete-stack --stack-name "capstone-${CIRCLE_WORKFLOW_ID:0:7}"

jobs:
  BuildAndLint:
    docker:
    # Use the same Docker base as the project
      - image: python:3.7.3-stretch

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install
            # Install hadolint
            wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64 &&\
            chmod +x /bin/hadolint
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies

      # run lint!
      - run:
          name: run lint
          command: |
            . venv/bin/activate
            make lint

  RunUnitTests:
    docker: 
      - image: python:3.7.3-stretch
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies
      - run:
          name: run unit tests
          command: | 
            python3 -m venv venv
            . venv/bin/activate
            make install
            cd src
            python3 test_suite.py


  BuildAndPushDocker:
    docker:
      - image: docker:latest
    steps:
      - checkout
      - setup_remote_docker
      - run: 
          name: Build  Image
          command: |
            docker build -t capstone_server .
      - run:
          name: Login To Docker
          command: | 
            docker login -u ${DOCKERHUB_USERNAME} -p ${DOCKERHUB_PASSWORD}
      - run:
          name: Push Image
          command: |
            docker tag capstone_server ${DOCKERHUB_USERNAME}/udacity:${CIRCLE_WORKFLOW_ID:0:7}
            docker push ${DOCKERHUB_USERNAME}/udacity:${CIRCLE_WORKFLOW_ID:0:7}            

  CreateInfrastructure:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run: yum -y install tar gzip
      - run:
          name: Create Infrastructure
          command: |
            cd .circleci/files
            aws cloudformation deploy --stack-name capstone-${CIRCLE_WORKFLOW_ID:0:7} --template-file=cloudformation.yml --region=us-east-1
            export LB_DNS=$(aws cloudformation list-exports \
              --query "Exports[?Name=='WorkflowID'].Value" \
              --no-paginate --output text)
            echo $LB_DNS > /root/project/LB_DNS.txt
            cat /root/project/LB_DNS.txt
      - persist_to_workspace:
          root: /root/project
          paths:
            - "LB_DNS.txt"
      - destroy-environment

  ConfigureInfrastructure:
    docker:
      - image: mullnerz/ansible-playbook:latest
    environment:
        ANSIBLE_HOST_KEY_CHECKING: "false"
    steps:
      - checkout
      - run: yum -y install tar gzip
      - add_ssh_keys: 
          fingerprints: ["07:d3:6f:b8:7d:8b:db:91:ff:d1:8c:e8:89:a3:48:5a:13:16:7e:e9"]
      - attach_workspace:
          at: ~/
      - run: 
          name: Generate inventory
          command: |
            export LB_DNS=$(cat ~/LB_DNS.txt)
            echo "[web]" > /tmp/inventory.txt
            echo $LB_DNS >> /tmp/inventory.txt
            cat /tmp/inventory.txt
      - run:
          name: Update Infrastructure
          command: |
            ansible-playbook -vvv -i /tmp/inventory.txt .circleci/ansible/configure-server.yml --extra-vars "IMAGETAG=${CIRCLE_WORKFLOW_ID:0:7}"         
      - destroy-environment 
            
  SmokeTest:
    docker:
      - image: curlimages/curl:latest
    steps:
      - run: yum -y install tar gzip
      - attach_workspace:
          at: ~/
      - run:
          name: Smoke Test
          command: |
            export LB_DNS=$(cat ~/LB_DNS.txt)
            if $(curl -s $LB_DNS AND FIND DNS | grep -q Hello World); then return 0; else return 1; fi
      - destroy-environment

workflows:
  default:
    jobs:
      - BuildAndLint
      - RunUnitTests:
          requires: [BuildAndLint]
      - BuildAndPushDocker:
          requires: [BuildAndLint, RunUnitTests]
          filters:
            branches:
              only: [master]
      - CreateInfrastructure:
          requires: [BuildAndPushDocker]
      - ConfigureInfrastructure:
          requires: [CreateInfrastructure]
      - SmokeTest:
          requires: [ConfigureInfrastructure]

      
